<footer class="footer pagewidth">

  <div class="grid">
    <div class="grid-item xlarge--one-third xlarge--text-left">
      Built and maintained by <a href="http://discolabs.com">Disco</a> © 2015
    </div>
    <div class="grid-item xlarge--one-third">
        Based on the <a href="http://shopify.github.io/">Official Shopify open source page</a>
    </div>
    <div class="grid-item xlarge--one-third xlarge--text-right">
      Want to add your project? <a href="https://github.com/discolabs/opensourceforshopify.com#adding-your-repository">Learn how</a>
    </div>
  </div>

</footer>
